.dropbox {
	width: 450px;
	padding: 25px;
	min-height: 200px;
	background-color: pink;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.download {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

.download-button {
	margin-left: 5px;
}

.download-buttons {
	padding-top: 5px;
}

.well {
	margin-bottom: 5px !important;
}

.pre-scrollable {
	max-height: 450px !important;
}